body{
  background-color: aqua;


}
li{
  display:inline;
  background-color: rgb(238, 241, 147);
  padding:30px;
  margin: 50;
  text-align: center;
   border-radius:20px ;
   padding: 30px;
 
}
Jhansi{
image-rendering: crisp-edges;
}

.jimg{
 
border-radius: 50px;

}
.jtext{
  text-align: left;
  margin-bottom: 50px;

}
#simg{
 
  border-radius: 50px;
  
  }
Navbar{
  margin:50;
}